.header-hard {
  border-right: 1px solid #c6cccc;
  border-bottom: 1px solid #c6cccc;
  padding: 15px 10px;
  position: relative;
  font-size: 12px;
  font-weight: 600;
}

.header-hard--1 {
  width: 250px;
}

.header-hard--3 {
  width: 350px;
}

.select--criteria-hard {
  /* padding: 5px 0; */
  position: absolute;
  top: 10px;
  left: 5px;
  right: 5px;
  outline: none;
}

.mainTable-hard {
  border: 1px solid #dedede;
  border-collapse: collapse;
  width: 98%;
  margin-left: 10px;
  margin-top: 30px;
  font-weight: 500;
  position: relative;
  background-color: #f6f6f6;
}

.mainTable-hard thead {
  background-color: #3e48b2;
  color: #fff;
}

.weight-paragraph {
  font-weight: 400;
  font-style: normal;
  border: 2px solid #3b4ce7;
  border-radius: 4px;
  padding: 4px 8px;
  width: 90px;
  margin-bottom: 5px;
}

.weight-span {
  font-weight: 600;
}
